Lenguaje de Marcas/RetoXMLSchema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Usuario">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id_Usuario" type="xs:integer"/>
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="apellido" type="xs:string"/>
                <xs:element name="correo" type="xs:string"/>
                <xs:element name="telefono" type="xs:integer"/>
                <xs:element name="fechaNacimiento" type="xs:date"/>
                <xs:element name="tipoUsuario">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="administrador"/>
                            <xs:enumeration value="cliente"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>